   <div class="footer">
      <div class="footerel">
        <div class="leftfootel">
          <div class="logofootel">
            <div class="text text-o" id=footerlogo>O</div>
            <div class="text text-r" id=footerlogo>r</div>
            <div class="text text-d" id=footerlogo>d</div>
            <div class="text text-e" id=footerlogo>e</div>
            <div class="text text-r2" id=footerlogo>r</div>
            <div class="text text-i" id=footerlogo>i</div>
            <div class="text text-t" id=footerlogo>t</div>
          </div>
          <div class="comingfootel">
            <%= link_to "#", class: "soon" do %>
              <%= image_tag "app-store.png" %>
             <div class="centered">COMING SOON</div>
            <% end %>
          </div>
        </div>
        <div class="middleleftfootel">
          <div class="elfoot1">
          <h5 class="headlinefooter">About Order It</h5>
          <p class="textfooter">Read our blog</p>
          <p class="textfooter">Create business account</p>
          <p class="textfooter">Add your eatery</p>
          </div>
        </div>

        <div class="rightfootel">
          <div class="elfoot2">
          <h5 class="headlinefooter">Get Help</h5>
          <p class="textfooter">Read FAQs</p>
          <p class="textfooter">View all cities</p>
          <p class="textfooter">View all countries</p>
          <p class="textfooter">Eateries near me</p>
          </div>
        </div>
      </div>
      <div class="linethrough">
      <div class="leftcorner">
        <i class="fab fa-facebook-square footicon"></i>
        <i class="fab fa-instagram footicon"></i>
        <i class="fab fa-twitter-square footicon"></i>
      </div>
      <div class="rightcorner">
        <p class="textfooter">Privacy Policy</p>
        <p class="textfooter">Terms</p>
        <p class="textfooter">Pricing</p>
        <!-- <p>© 2020 Order iTechnologies</p> -->
      </div>
      </div>
    </div>
