<div class="right-corner">
 <!-- <div id="box"> -->
    <div class="menu">
      <div id="circle" class="bounce-in">
        <div id="menu-icon">
          <div class="bar" id="bar-one"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div id="menu">
         <ul>
           <li id="back"><i class="fa fa-arrow-left fa-2x"></i>Back</li>
           <li><a href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i>Twitter</a></li>
           <li><a href="#" target="_blank"><i class="fa fa-laptop fa-2x"></i>Website</a></li>
           <li><a href="#" target="_blank"><i class="fab fa-codepen fa-2x"></i>Other</a></li>
        </ul>
      </div>
    </div>
<!--   </div> -->
</div>
