<ul class="content-top">
  <li>
    <a href="#section2"  style="text-decoration: none;">
    <div class="ball slide-in-right-eat" id="section1">
      <div class="wrapper">
        <div class="circle"></div>
        <div class="shadow"></div>
      </div>
      <div class="word">FOOD</div>
    </div>
  </a>
  </li>
  <li>
    <a href="#section2"  style="text-decoration: none;">
    <div class="ball slide-in-right-drink" id="section1">
      <div class="wrapper">
        <div class="circle"></div>
        <div class="shadow"></div>
      </div>
      <div class="word" id="drink">DRINK</div>
    </div>
  </a>
  </li>
  <li>
    <a href="#section2"  style="text-decoration: none;">
    <div class="ball slide-in-right-wait" id="section1">
      <div class="wrapper">
        <div class="circle"></div>
        <div class="shadow"></div>
      </div>
      <div id="drink"><div class="word strike"> WAITER</div></div>
    </div>
  </a>
  </li>
</ul>
