<div class="signin-buttons">
  <div class="container">
    <button type="button" class="btn btn-block _sign-up mx-auto">Sign Up</button>
    <button type="button" class="btn btn-block _sign-in mx-auto">Sign In</button>
  </div>
</div>
