<!-- <div class="body">
  <= render 'shared/navbar' %>
  <= render 'shared/bannerhome' %>
  <= render 'shared/signbuttons' %>
  <= render 'shared/slides' %>
  <div id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<= ENV['MAPBOX_API_KEY'] %>"></div>

     <div class="container">
       <div class="headline">
         <h3>How does it work?</h3>
       </div>
       <div class="cont-body"></div>
     </div>
</div>
 -->

<div class="header">
  <%= render 'shared/about' %>
  <%= render 'shared/menu' %>
</div>

<div class="homepage">
  <div class="hero" id="particles-js">
    <div class="svg">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 960 560" preserveAspectRatio="xMidYMid slice">
        <path class="fade-in-fwd" stroke="#fff" fill="#fff" d="M-6.1,536.9c48-30.2,86.9-85.8,103.6-114.5c18.2-31.4,103.3-166.7,252.9-91.8
  c131.7,65.9,284.2,149.4,476.4,35.5c21-12.4,75.9-57.8,139.2-55V-6.4L830.7-6.3C808.8,26.4,807.7,249,545,165.4S165,199,106.6,263.4
  S-5.9,321.4-5.9,321.4L-6.1,535.9z"/>

        <!-- <path fill="#3D4773" d="M-5.8,569.6l-0.2-33.6c48-30.2,86.9-85.8,103.6-114.5c18.2-31.4,103.3-166.7,252.9-91.8
  c131.7,65.9,284.2,149.4,476.4,35.5c21-12.4,76-57.8,139.2-55v259.5"/> -->
      </svg>
      <%=  render 'shared/phone'%>

    </div>
    <div class="bbw wave1"></div>
    <div class="bbw wave2"></div>
    <div class="bbw wave3"></div>
    <div class="bbw wave4"></div>
  </div>
</div>
