.navbar-lewagon {
  justify-content: space-between;
  background-color: white;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
.nav-item, .nav-link {
  margin: 0px 10px;
  color: white;
  background-color: #789EBF;
  border: none;
  border-radius: 6px;

}
.nav-item:hover, .nav-link:hover {
  margin: 0px 10px;
  background-color: #4B7BA6;
  color: black;
}
.showHide { display:none; }

/* Desktop*/
