.navbar-lewagon {
  justify-content: space-between;
  background-color: #403F3E;
  color: #F2F2F2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
.nav-link {
  color: #F2F2F2;
}
.showHide { display:none; }

/* Desktop*/
