.fade-in-fwd{-webkit-animation:fade-in-fwd .6s cubic-bezier(.39,.575,.565,1.000) 1050ms both;animation:fade-in-fwd .6s cubic-bezier(.39,.575,.565,1.000) 1050ms both}
@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(-5);transform:translateZ(-5);opacity:1}}


#iphone-x {
  position: absolute;
  left: calc(20% - 8px);
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, -50%) rotate(-5deg) skewX(0deg);
          transform: translate(-50%, -50%) rotate(-5deg) skewX(0deg);
}
.device,
.device *,
.device:after,
.device :after,
.device:before,
.device :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block
}
/* #iphone-x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
} */
.device {
    position: relative
}
.device,
.device .device-frame {
    z-index: 1
}
.device-iphone-x {
    text-align: center
}
.device-iphone-x .device-frame {
    background: #222;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 2px 0 #c8cacb, inset 0 0 0 3px #e2e3e4;
    box-shadow: inset 0 0 2px 0 #c8cacb, inset 0 0 0 3px #e2e3e4;
    height: 700px;
    width: 354px;
    padding: 9px
}
.device .device-content {
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    border-radius: 40px;
    height: 100%;
    width: 100%
}
.device .device-content iframe {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    overflow-y: auto!important;
}
.device-iphone-x .device-stripe:after,
.device-iphone-x .device-stripe:before {
    border: solid rgba(51, 51, 51, .25);
    border-width: 0 7px;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9
}
.device-iphone-x .device-stripe:after {
    top: 85px
}
.device-iphone-x .device-stripe:before {
    bottom: 85px
}
// .device-iphone-x .device-header {
//     background: #222;
//     border-bottom-left-radius: 20px;
//     border-bottom-right-radius: 20px;
//     height: 30px;
//     left: 20%;
//     margin-left: -102px;
//     position: absolute;
//     top: 5px;
//     width: 204px
// }
// .device-iphone-x .device-header:after,
// .device-iphone-x .device-header:before {
//     content: "";
//     height: 10px;
//     position: absolute;
//     top: 0;
//     width: 10px
// }
// .device-iphone-x .device-header:after {
//     background: radial-gradient(circle at bottom left, transparent 0, transparent 75%, #222 0, #222 100%);
//     left: -10px
// }
// .device-iphone-x .device-header:before {
//     background: radial-gradient(circle at bottom right, transparent 0, transparent 75%, #222 0, #222 100%);
//     right: -10px
// }
// .device-iphone-x .device-sensors:after,
// .device-iphone-x .device-sensors:before {
//     content: "";
//     position: absolute
// }
// .device-iphone-x .device-sensors:after {
//     background: #444;
//     border-radius: 3px;
//     height: 6px;
//     left: 20%;
//     margin-left: -25px;
//     top: 16px;
//     width: 50px
// }
// .device-iphone-x .device-sensors:before {
//     background: #444;
//     border-radius: 50%;
//     height: 14px;
//     left: 20%;
//     margin-left: 40px;
//     top: 12px;
//     width: 14px
// }
.device-iphone-x .device-btns {
    background: #c8cacb;
    height: 32px;
    left: -3px;
    position: absolute;
    top: 115px;
    width: 3px
}
.device-iphone-x .device-btns:after,
.device-iphone-x .device-btns:before {
    background: #c8cacb;
    content: "";
    height: 62px;
    left: 0;
    position: absolute;
    width: 3px
}
.device-iphone-x .device-btns:after {
    top: 60px
}
.device-iphone-x .device-btns:before {
    top: 140px
}
.device-iphone-x .device-power {
    background: #c8cacb;
    height: 100px;
    position: absolute;
    right: -3px;
    top: 200px;
    width: 3px
}
