.fade-in-fwd{-webkit-animation:fade-in-fwd .6s cubic-bezier(.39,.575,.565,1.000) 1050ms both;animation:fade-in-fwd .6s cubic-bezier(.39,.575,.565,1.000) 1050ms both}
@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(-5);transform:translateZ(-5);opacity:1}}


#iphone-x {
  position: relative;

  -webkit-transform: translate(-50%, -50%) rotate(-5deg) skewX(0deg);
          transform: translate(-50%, -50%) rotate(-5deg) skewX(0deg);
}
.device,
.device *,
.device:after,
.device :after,
.device:before,
.device :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block
}
.shine-me:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 5px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);

    transition: none;

}
/* on hover we animate the width to
 * 100% and opacity to 0 so the element
 * grows and fades out
 */
.shine-me:hover:after {
    width: 50%;
    background-color: rgba(255,255,255,0);
    transform: translateX(50%) skewX(-15deg);
    transition: all 1s ease-out;
}



/* #iphone-x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
} */
.device {
    position: relative
}
.device,
.device .device-frame {
    z-index: 1
}
.device-iphone-x {
    text-align: center
}
.device-iphone-x .device-frame {
    background: #222;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 2px 0 #c8cacb, inset 0 0 0 3px #e2e3e4;
    box-shadow: inset 0 0 2px 0 #c8cacb, inset 0 0 0 3px #e2e3e4;
    height: 700px;
    width: 354px;
    padding: 9px
}
.device .device-content {
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    border-radius: 40px;
    height: 100%;
    width: 100%
}
// .device .device-content iframe {
//     border-radius: 40px;
//     width: 100%;
//     height: 100%;
//     overflow-y: auto!important;
// }
.device-iphone-x .device-stripe:after,
.device-iphone-x .device-stripe:before {
    border: solid rgba(51, 51, 51, .25);
    border-width: 0 7px;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 9
}
.device-iphone-x .device-stripe:after {
    top: 85px
}
.device-iphone-x .device-stripe:before {
    bottom: 85px
}

.device-iphone-x .device-btns {
    background: #c8cacb;
    height: 32px;
    left: -3px;
    position: absolute;
    top: 115px;
    width: 3px
}
.device-iphone-x .device-btns:after,
.device-iphone-x .device-btns:before {
    background: #c8cacb;
    content: "";
    height: 62px;
    left: 0;
    position: absolute;
    width: 3px
}
.device-iphone-x .device-btns:after {
    top: 60px
}
.device-iphone-x .device-btns:before {
    top: 140px
}
.device-iphone-x .device-power {
    background: #c8cacb;
    height: 100px;
    position: absolute;
    right: -3px;
    top: 200px;
    width: 3px
}
// .device-iphone-x .device-header {
//     background: #222;
//     border-bottom-left-radius: 20px;
//     border-bottom-right-radius: 20px;
//     height: 30px;
//     left: 20%;
//     margin-left: -102px;
//     position: absolute;
//     top: 5px;
//     width: 204px
// }
// .device-iphone-x .device-header:after,
// .device-iphone-x .device-header:before {
//     content: "";
//     height: 10px;
//     position: absolute;
//     top: 0;
//     width: 10px
// }
// .device-iphone-x .device-header:after {
//     background: radial-gradient(circle at bottom left, transparent 0, transparent 75%, #222 0, #222 100%);
//     left: -10px
// }
// .device-iphone-x .device-header:before {
//     background: radial-gradient(circle at bottom right, transparent 0, transparent 75%, #222 0, #222 100%);
//     right: -10px
// }
// .device-iphone-x .device-sensors:after,
// .device-iphone-x .device-sensors:before {
//     content: "";
//     position: absolute
// }
// .device-iphone-x .device-sensors:after {
//     background: #444;
//     border-radius: 3px;
//     height: 6px;
//     left: 20%;
//     margin-left: -25px;
//     top: 16px;
//     width: 50px
// }
// .device-iphone-x .device-sensors:before {
//     background: #444;
//     border-radius: 50%;
//     height: 14px;
//     left: 20%;
//     margin-left: 40px;
//     top: 12px;
//     width: 14px
// }
.upperhalf img{
  width: 335px;
  // margin-left: -1px;
  background-color: #FCF7F8;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.extraspace {
  width:335px;
  height: 50px;
  background-color: #FCF7F8;
}
.tabtable {
  width:335px;
  height: 95px;
  margin-top: -20px;
  background-color: #f2eff0;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: -1px -4px 5px -4px rgba(0,0,0,0.25);
}
.tabnametable {
  text-align: left;
  margin-left: 25px;
  padding: 20px;
  font-weight: 600;
  color: #BAB0BA;
  font-size: 18px;
}
#address {
  color: #e0dbdc;
  font-weight: bold;
  text-align: left;
  margin-left: 25px;
  padding-left: 20px;
}
.tabnameorder {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 0px;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: bold;
  color: #7D7EBE;

}
.taborder {
  width:335px;
  height: 35px;
  margin-top: -30px;
  background-color: #fff;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: -1px -4px 5px -4px rgba(0,0,0,0.25);
}
.headline {
  width: 335px;
  display: flex;
  justify-content: space-between;
}
// .headtbnorder {
// flex-grow:1;
// }
.orderheadimg {
  padding-top: 25px;
  margin-right: 25px;
  width: 30px;
}

.info-menu {
  margin-top: 10px;
  width: 335px;
  display: flex;
  justify-content: space-around;
}
// .image {
//   flex-grow:1;
// }
.bottomhalf img {
  width: 80px;
  margin-left: 30px;
  border-radius: 50px;
  box-shadow: -1px -4px 5px -4px rgba(0,0,0,0.25);
}

.bottomhalf2 img {
  width: 80px;
  margin-left: 30px;
  border-radius: 48px;
   // border-top-right-radius: 30px;
  box-shadow: -1px -4px 5px -4px rgba(0,0,0,0.25);

  // border-radius: 20px;
}
.bottomhalf3 img {
  width: 80px;

  margin-right: 30px;
  border-radius: 50px;
  box-shadow: -1px -4px 5px -4px rgba(0,0,0,0.25);
  // border-radius: 20px;
}
